Resume Intake & Parsing Agent.json
{
  "name": "Resume Intake & Parsing Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-upload",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "resume",
          "responsePropertyName": "resume"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "071952e8-f9f5-465e-9322-b72c0cdf438d",
      "name": "Webhook",
      "webhookId": "b957eb84-df4c-4cea-84bd-4594fece496b"
    },
    {
      "parameters": {
        "jsCode": "// Just return what was received to inspect the request\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "31e219f9-ac11-469d-b689-159176c9def9",
      "name": "Test Received pdf"
    },
    {
      "parameters": {
        "jsCode": "const resumeText = $json.body;\n\nconst prompt = `You are a resume parser. The following is a base64-encoded PDF resume. Resume Text: \"\"\"${resumeText}\"\"\". Please extract:\n- Full name\n- Email\n- Phone number\n- Skills (comma-separated)\n- Years of experience\n- Last 3 companies worked at\n- Job titles\nReturn the result as JSON with keys:\nname, email, phone, skills, experience, companies, titles.`; \n\nreturn [{ json: { prompt } }];\n\n\n\n// const base64 = $json.base64;\n\n// const prompt = `\n// You are a resume parser. The following is a base64-encoded PDF resume.\n\n// Please extract:\n// - Full name\n// - Email\n// - Phone number\n// - Skills (comma-separated)\n// - Years of experience\n// - Last 3 companies worked at\n// - Job titles\n\n// Return the result as JSON with keys:\n// name, email, phone, skills, experience, companies, titles\n\n// Base64 (truncated to 12K chars):\n// ${base64.substring(0, 12000)}\n// `;\n\n// return [{ json: { prompt } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -384
      ],
      "id": "9eb92087-c1ed-4a36-921e-5335a27a3613",
      "name": "Build GPT Prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1472,
        -384
      ],
      "id": "28a1c00e-63e5-4c88-a1e9-27bf2842d0e5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "uc63X0l3qsjrTNdX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/file/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "agentica8@gmail.com_JkGJLsqcFz9VzdEhKAjTuEJbwgetHneYmfo9hI0BhBxga269IqXM0qgRAQlr999w"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "resume0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -240
      ],
      "id": "d0592b30-cbae-4b2c-942a-4a66f0526745",
      "name": "Upload file to PDFco"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "agentica8@gmail.com_JkGJLsqcFz9VzdEhKAjTuEJbwgetHneYmfo9hI0BhBxga269IqXM0qgRAQlr999w"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"inline\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -384
      ],
      "id": "933bfc74-55f8-4252-8c49-a03bc9106356",
      "name": "PDF to Text"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sC7oiZJKbJJnmrff",
          "mode": "list",
          "cachedResultName": "Adya's Project — Score Resume Against JD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2592,
        -32
      ],
      "id": "f8641337-0bc9-4975-a606-7fa3a44e8f9e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10b2c2ef-ad0e-4623-a322-8baa0cef604b",
              "name": "resumeData",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "7271f6ed-1771-4bb7-bbaa-003f3381a2b1",
              "name": "jobDescription",
              "value": "={{ $json.jobDescription }}",
              "type": "string"
            },
            {
              "id": "ef80b471-7441-4b46-a8c1-afebbba0e047",
              "name": "resumeUrl",
              "value": "={{$json.url}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        -32
      ],
      "id": "a16292f8-55e4-49c9-ba4f-6fe20a564347",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://agentica8.app.n8n.cloud/webhook/job-description",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{$json.jobId}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        224
      ],
      "id": "82507fe6-7145-452c-8b0a-fcf8cfbca947",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1968,
        -48
      ],
      "id": "1d3dc3e3-7460-4afe-9d97-00a31f9089f9",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbfc723a-9ca4-478c-8dda-effb26dbdc17",
              "name": "jobId",
              "value": "={{$json[\"body\"][\"jobId\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "d6e55fa1-8dd3-4f9d-a3d4-3ab103ef7107",
      "name": "Preserve JobId"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b4e510b-6132-4284-8e09-32977313a98d",
              "name": "debug",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        -32
      ],
      "id": "65d2333c-15ad-41bc-8ffe-42ba71ee0b33",
      "name": "DEBUG JOBID"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Test Received pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Received pdf": {
      "main": [
        [
          {
            "node": "Preserve JobId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file to PDFco": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Build GPT Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "DEBUG JOBID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve JobId": {
      "main": [
        [
          {
            "node": "Upload file to PDFco",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG JOBID": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5302dad4-5f84-4d09-9ec3-568fe64e554f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ceaa89375d12cfbf29516594805b486b6ef61d5143bbffec304899c1ffd6bf"
  },
  "id": "VpRG1GbA1FF9dK2Y",
  "tags": []
}