n8n Workflows/JD Intake.json
{
  "name": "JD Intake",
  "nodes": [
    {
      "parameters": {
        "path": "job-description",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -192,
        -32
      ],
      "id": "11d0e5e6-f916-4a92-8f52-9efb3c2631fd",
      "name": "Webhook",
      "webhookId": "af3b79a3-18c0-403a-aefe-b4c3bc40960e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1C9KBFuR6-iw5nK5yUgkt_7bPadRgJ_1cdF86QH07d34",
          "mode": "list",
          "cachedResultName": "Job Description",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9KBFuR6-iw5nK5yUgkt_7bPadRgJ_1cdF86QH07d34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9KBFuR6-iw5nK5yUgkt_7bPadRgJ_1cdF86QH07d34/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "jobid",
              "lookupValue": "={{$json[\"query\"][\"jobId\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        -32
      ],
      "id": "ace8ad4a-c323-4b2f-95f4-6c856ec0b2ff",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiCQwZnl5G3AKBzO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148f4801-8ab5-4f07-9d42-2613200d1b3f",
              "name": "jobDescription.title",
              "value": "={{$json[\"title\"]}}",
              "type": "string"
            },
            {
              "id": "0df2f214-32a7-4190-84db-d7157adb3a53",
              "name": "jobDescription.requiredSkills",
              "value": "={{$json[\"requiredSkills\"].split(\",\")}}",
              "type": "string"
            },
            {
              "id": "2b968463-42cc-46df-af86-65e963ce6cbc",
              "name": "jobDescription.preferredExperience",
              "value": "={{$json[\"preferredExperience\"]}}",
              "type": "string"
            },
            {
              "id": "eecfbdb0-7a2a-4ad4-b314-9b845470d412",
              "name": "jobDescription.niceToHave",
              "value": "={{$json[\"niceToHave\"].split(\",\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -32
      ],
      "id": "0f60b207-f547-4d8c-8ca1-b2e2765ee3c4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d192723-bbe0-435f-879c-84f637d6aa3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ceaa89375d12cfbf29516594805b486b6ef61d5143bbffec304899c1ffd6bf"
  },
  "id": "U5IQ4X6KifmvKxrB",
  "tags": []
}
